@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
:root{
    --color1:#fff;
    --color2:#000;
    --color3:#cc1212;
    --color4:#f76c2f;
    --color5:#5e3bee;
    --color6:#f2f2f2;
    --color7:#262626;
    --color8:#17d106;
    --color9:rgba(0,0,0,0.8);
    --color10:#0000001a;
}
a{
    color: var(--color1) !important;
    text-decoration: none !important;
    font-size: 20px;
}
a:hover{
    color: var(--color4) !important;
}
.logo{
    color: var(--color8);
}
.navbar-nav li a:hover{
    color: var(--color4);
    text-transform: uppercase;
}
.carousel-inner img{
    height: 60vh !important;
    object-fit: cover;
}
.carousel-inner video{
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}
.carousel-indicators{
    color: var(--color1);
}
.section{
    padding-top:40px ;
    padding-bottom: 40px;
}
.banner-text{
    font-size: 5rem;
}
.sub-para{
    font-size: 22px;
}
.main-heading{
    color:var(--color3) ;
    font-size:26px ;
}
.banner-main-text{
    text-shadow: 8px 2px #ff0000;
}
.sub-heading{
    color:var(--color6) ;
    font-size:26px ;
}
.underline{
    height: 4px;
    width: 4rem;
    background-color: var(--color4);
    margin-top: 10px;
    margin-bottom: 10px;
}
.bg-c-light{
    background-color:var(--color6) ;
}
p{
    font-size: 14px;
    color: var(--color7);
}
.footer{
    background-color:var(--color9) ;
}
.footer a{
    color: var(--color1);
    text-decoration: none;
    text-align: start;
}
.footer a:hover{
    color: var(--color4);
}
.footer .icon a{
    margin-top: 50px !important;
    cursor: pointer !important;
}
.footer a:hover{
    color: var(--color8);
}
.footer .quick{
    display: flex;
    flex-direction:column ;
    padding-left:8.5rem ;
}